buoy/build
*~
*.swp
*.swo
*.o
*.a
.sconsign*
*.elf
*.hex
*.log
*.dtt
*.wav
*.pyc
zero/storetools/datreader
zero/storetools/data/*
zero/log
*.DAT
*.DTT
*.ITT
*.ITT*
*.DTT*
*.LOG
*.LON
*.IND
*#
hardware/simulations/*.log
hardware/simulations/*.plt
hardware/simulations/*.raw
hardware/simulations/*.imp
hardware/simulations/*.net

*.aux
*blx.bib
*.bbl
*.blg
*.run.xml
zero/storetools/libmseed/
zero/storetools/dtttomseed
zero/storetools/dattomseed
zero/storetools/dttfix
zero/storetools/mschangesource
zero/storetools/readlongs
*.mseed
filenr.lis
mulplt.out
*.mexa64
processing/localization/data
processing/localization/gmt/*.cpt
processing/localization/gmt/.*
processing/localization/gmt/*.ps
processing/localization/gmt/*.grd
processing/localization/gmt/*.png
processing/localization/gmt/*.ps
