buoy/build
*~
*.swp
*.swo
*.o
*.a
.sconsign*
*.elf
*.hex
*.log
*.dtt
*.wav
*.pyc
zero/storereader/storereader
*.DAT
*.LOG
*.LON
*.IND
*#
hardware/simulations/*.log
hardware/simulations/*.plt
hardware/simulations/*.raw
hardware/simulations/*.imp
hardware/simulations/*.net

