<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="no" lang="no">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Buoy report</title>
        <link href="/media/base.css" rel="stylesheet" type="text/css" />

    </head>
    <style type="text/css">
    </style>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
            <div class="clear"></div>
        </div>
        <div id="footer">
          <!--Created by <a href="http://gaute.vetsj.com">Gaute Hope</a>, 2012.-->
        </div>
    </body>
</html>

