{% extends "skeleton.htm" %}

{% block content %}
<div class="header">
  <h2> Overview </h2>
</div>

<div class="left">
  {% for b in statues %}
  <div class="buoyitem">
    <div class="name">
      <b>{{ b.name }} [{{ b.id }}] {% if b.active %}( active ){% endif %}</b>
    </div>
    <div class="sub">
      <div class="item {{ b.valid }}">
        <b>Position:</b> {{ b.latitude }} {% if b.north %}N{% else %} S {% endif %}, {{ b.longitude }}{% if b.east %}E{% else %} W {% endif %} ( Valid: {{ b.valid }} )
      </div>
    </div>
    <div class="sub">
      <div class="item {{ b.has_time }}">
        <b>Time:</b> {{ b.datetime|date }} ( Gps time: {{ b.time }}, date: {{ b.date }} ) ( Time: {{ b.has_time }} )
      </div>
    </div>

    <div class="sub">
      <div class="item {{b.has_sync }}">
        <b>Sync:</b> {{ b.has_sync }} 
      </div>
      <div class="item {{ b.valid }}">
        <b>Valid:</b> {{ b.valid }} 
      </div>
      <div class="item {{ b.has_sync_reference }}">
        <b>Sync reference:</b> {{ b.has_sync_reference }} 
      </div>
      <div class="item">
        <b>Last status:</b> 30 minutes ago
      </div>

    </div>

    <div class="clear"></div>
  </div>
  {% endfor %}
</div>

<div class="right">
  <h2>Details</h2>
</div>


{% endblock %}

